.container{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    color: #4BCAFF;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}
.part-title{
    color: #000;
}
.nav-menu-list{
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    margin-top: 40px;
}
.menu-list-item{
    height: 69px;
    padding: 20px 32px 18px 32px;
    border: 1px solid #FFF;
    border-top: none;
    border-bottom: none;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-list-item:hover{
    background-color: #222F3A;
}
.left-menu{
    width: 344px;
    height: 399px;
    margin: 0;
    display: inline;
    border: 1px solid #000;
}
.left-menu-list-item{
    height: 81px;
    padding-top: 26px;
    padding-left: 44px;
    color: #485863;
    font-family: Roboto, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 100% */
}
.left-menu-list-item:hover{
    background-color: #DBDBDB;
    color: #000;
    padding-left: 70px;
}
.main{
    display: flex;
    justify-content: flex-start;
    margin-top: 49px;
}
section{
    width: 885px;
    margin-left: 52px;
}
.section-image{
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
    overflow: hidden;
}
.section-image:hover img{
    transform: scale(1.1);
}
img {
    transition: transform 0.25s;
}
.section-text{
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    padding-bottom: 13px;
}
.footer{
    height: 69px;
    margin-top: 41px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    padding-left: 15px;

}
.footer-menu{
    height: 69px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-menu-item{
    color: #0C1927;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 14px;
    padding-left: 25px;
    padding-bottom: 13px;

}
.footer-menu-item:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.mark{
    color: #010101;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    padding-left: 70px;
}