body{
    background: url("../img/background 1.png");
    background-size: cover;
}
.container{
    max-width: 1030px;
    margin: 0 auto;
}
.logo{
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 100% */
    padding-top: 5px;
}
.logo a:hover ul{
    color: #F26522;
}
.logo1{
    position: absolute;
}
.logo2{
    position: relative;
}
.logo a:hover .logo1{
    display: none;
}
.list-item{
    font-size: 18px;
    line-height: 18px;
}
.logo a{
    display: flex;
}
.logo ul{
    padding-left: 8px;
}
.header{
    height: 61px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}
.contacts a:hover{
    color: #F26522;
}
.block{
    position: absolute;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.block .img-block{
    width: 100%;
    height: 100%;
    position: absolute;
}
.block .orange-block{
    width: 100%;
    height: 55px;
    position: absolute;
    transition: 0.5s;
}
.orange-block{
    background-color: #F26522;
    bottom: -55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 14px;
}
.orange-block li:first-child{
    font-size: 10px;
    line-height: 10px;
}
.orange-block li:last-child{
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
}
.orange-block h3::after{
    content: url("../img/Vector 1.svg");
    padding-left: 16px;
}
.orange-block h3{
    font-size: 14px;
    line-height: 14px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 17px;
    height: 560px;
}
.section{
    position: relative;
    width: 300px;
    height: 261px;
}
.section h2{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}
.section a:hover h2 {
    color: #F26522;
}
.section a:hover .orange-block{
    bottom: 0;
}
.img-block img{
    border: 3px solid;
    border-image-source: linear-gradient(-45deg,black, white);
    border-image-slice: 1;
}
.footer{
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    margin-top: 49px;
    margin-bottom: 15px;
}