body{
    background-image: url("../img/Фон 1.png");
    background-size: cover;
}
header{
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header-container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-inform{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inform .logo{
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
}
.header-inform .logo:hover{
    color: var(--hover-color);
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-icons p{
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.header-icons p:hover{
    cursor: pointer;
}
.header-icons p a:hover{
    color: var(--hover-color);
}
.icon:hover {
    fill: var(--hover-color);
    cursor: pointer;
}
.line{
    position: relative;
}
.line::before{
    display: block;
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.90);
    position: absolute;
    left: -27px;
    top: -2px;
}
.line:hover::before{
    display: block;
    content: "";
    width: 1px;
    height: 19px;
    background: #212020;
    position: absolute;
    left: -27px;
    top: -2px;
}
.safari-icon{
    margin-right: 53px;
}
.icon{
    margin-left: 25px;
}
:root{
    --header-height: 58px;
    --main-color: #3CB878;
    --hover-color: #01813F;
}
main{
    height: calc(100vh - (var(--header-height)));
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-section{
    position: relative;
    width: 444px;
    height: 584px;
    background: #FFF;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}
.form-container{
    width: 324px;
    margin: 0 auto;
}
.form-flex{
    display: flex;
    justify-content: space-between;
}
.text-style{
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.form-title{
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.form-title h2{
    padding-top: 31px;
    color: #434343;
    text-align: center;
    font-size: 20px;
    line-height: 20px; /* 100% */
}
.form-title a{
    padding-top: 34px;
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.form-button{
    padding-top: 15px;
}
.form-title h2::before{
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
}
.fa{
    color: #FFFFFF;
    font-size: 24px;
    padding-right: 38px;
}
.media-button{
    width: 160px;
    height: 48px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #305DB8
    /*position: relative;*/
}
.color-button{
    background-color: #DF4A32
}
.media-button span{
    position: relative;
}
.media-button span::before{
    display: block;
    content: "";
    width: 1px;
    height: 30px;
    opacity: 0.1;
    background: #2B0D09;
    position: absolute;
    top: -50%;
}
.media-line-f::before{
    left: -18px;
}
.media-line-g::before{
    left: -30px;
}
.form-title a:hover{
    color: var(--hover-color);
    text-decoration: var(--hover-color);
    text-decoration-line: underline;
}
.media-button:hover{
    background-color: #022263;
}
.color-button:hover{
    background-color: #AB1F09;
}
.form-container p{
    margin-top: 32px;
    text-align: center;
    color: #848484;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    position: relative;
}
.form-container p::before{
    display: block;
    content: "";
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: 50%;
}
.form-container p::after{
    display: block;
    content: "";
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    right: 0;
    top: 50%;
}
.form-input{
    margin-top: 15px;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    color: #BEBEBE;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.form-input:focus{
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}
.sigh-check{
    color: #434343;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.checkbox-sign{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.sigh-check a{
    color: var(--main-color);
}
.create-button{
    width: 100%;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    margin-top: 20px;
}
.create-button:hover{
    background-color: var(--hover-color);
}
.terms:hover{
    color: var(--hover-color);
    border-bottom: 1px solid #01813F;
}
.custom-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    vertical-align: sub;
    position: relative;
    margin-top: 12px;
}
.custom-checkbox::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../img/Vector 1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s, ease-in;
}
.checkbox-sign:checked + .custom-checkbox::before{
    transform: translate(-50%, -50%) scale(1);
}