*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DCDCDC;
}
header{
    height: 78px;
}
.wrapper{
    background: #fff;
    width: 1280px;
    height: 1626px;
    margin: 0 auto;
}
.menu{
    list-style-type: none;
    padding-left: 250px;
    padding-top: 26px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2.7px;

}
.list-item{
    display: inline;
    margin: 45px;
}
a{
    text-decoration: none;
    color: #FF0000;
}
.main-content{
    font-family: 'Montserrat', sans-serif;
}
.title{
    color: #373737;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin: 49px 253px 38px 253px;

}
.data{
    color: #373737;
    width: 1145px;
    height: 348px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    margin: 0 auto;
}
.paragraph{
    margin-bottom: 28px;
}
.button{
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background-color: #F00;
    margin: 84px auto;
    text-align: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding-top: 18px;
}
.close-content{
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    padding-left: 713px;
    margin-top: 100px;
}