body{
    background: #171717;
}
.container{
    max-width: 1460px;
    margin: 0 auto;
}
.feedback-button{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    margin-bottom: 89px;
}
.header span{
    padding-left: 8px;
}
.section-inform{
    color: #FFF;
    font-family: Gilam, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
}
.section-inform h2{
    font-size: 50px;
}
.section-inform p{
    font-size: 20px;
    width: 1182px;
    padding-top: 43px;
}
.first-block{
    display: grid;
    column-gap: 29.5px;
    row-gap: 27px;
    grid-template-rows: 468px 468px;
    grid-template-columns: 467px 1fr 1fr 467px;
    margin-top: 41px;
}
.block{
    display: grid;
    place-items: center;
    color: #FFF;
    text-align: center;
    font-family: Gilam, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}
.item-1{
    background: #634F2C;
}
.item-2{
    background: #B4A385;
    grid-column: 2/4;
}
.item-3{
    background: #E4B564;
}
.item-4{
    background: #635A4A;
    grid-column: 1/3;
}
.item-5{
    background: #B08C4D;
    grid-column: 3/5;
}
.second-section{
    margin-top: 161px;
    margin-bottom: 191px;
}
.second-block{
    display: grid;
    column-gap: 29.5px;
    row-gap: 27px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 189px 40px 30px 99px 130px 248px 2px;
    margin-top: 94px;
}
.block-2{
    color: #FFF;
    font-family: Gilam, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 44px;
    padding-left: 52px;
}
.block-2 span{
    font-weight: 700;
}
.block-2 p{
    width: 302px;
}
.item1{
    grid-row: 1/4;
    background: #0E0E0E;
    font-weight: 400;
}
.item2{
    grid-row: 1/5;
    background: #242424;
    font-weight: 400;
}
.item3{
    grid-row: 1/3;
    background: #1F1F1F;
}
.item4{
    grid-row: 4/8;
    background: #1F1F1F;
}
.item5{
    color: #000;
    grid-row: 5/7;
    background: #E4B564;
}
.item6{
    grid-row: 3/6;
    background: #0E0E0E;
}
.item7{
    grid-row: 6/8;
    background: #0A0909;
    font-weight: 700;
}
.third-section{
    padding-top: 172px;
    background: #0E0E0E;
    margin-bottom: 200px;
}
.section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third-block{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 391px);
    margin-top: 72px;
}
.block-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_1{
    background: #634F2C;
}
.item_2{
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
}
.item_2 span{
    padding-top: 9px;
    width: 326px;
    color: #FFF;
    text-align: center;
    font-family: Gilam, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
}
.item_3{
    background: #E4B564;
}
.item_4{
    background: #635A4A;
    display: flex;
    flex-direction: column;
}
.item_5{
    background: #B08C4D;
}
.item_6{
    background: #634F2C;
}
